node_modules
backend/node_modules
.git
.env
backend/.env
backend/database/*.db
backend/database/*.db-journal
backend/database/*.db-wal
backend/database/*.db-shm
backend/uploads/*
!backend/uploads/.gitkeep
data/
*.log
